In [43]:

import numpy as np
import pandas as pd

a = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
b = {"a":123,"b":12.22,"c":2121}
c = {"a":123,"b":12.22,"d":"hei22222!"}
df2 = pd.DataFrame(b,index=[0,1]) 
df = pd.DataFrame(c,index=[2,3])

In [45]:
df.append(df2)

     a      b       c          d
2  123  12.22     NaN  hei22222!
3  123  12.22     NaN  hei22222!
0  123  12.22  2121.0        NaN
1  123  12.22  2121.0        NaN

In [46]:
print(df)
print("\n")
print(df2)

     a      b          d
2  123  12.22  hei22222!
3  123  12.22  hei22222!


     a      b     c
0  123  12.22  2121
1  123  12.22  2121

In [60]:
        param = {"lr": 0.5,
                 "input_size": 2,
                 "output_size": 200,
                 "decay_func": "exp",
                 "caseman": "somewhere",
                 "decay_half_life": 1000,
                 "n_factor": 5,
                 "n_halftime": 500,
                 "graph_int": 10,
                 "video": True,
                 "output_dir": "some_dir"
                 }
        param["something"] = "something new"
        temp = pd.DataFrame()
        temp = temp.append(param,ignore_index=True)

In [63]:
print(temp)
temp.to_csv("results.csv")

     caseman decay_func  decay_half_life  graph_int  input_size   lr  \
0  somewhere        exp           1000.0       10.0         2.0  0.5

   n_factor  n_halftime output_dir  output_size      something  video
0       5.0       500.0   some_dir        200.0  something new    1.0